arrow==0.17.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
croniter==0.3.36
Flask==1.1.2
Flask-Cors==3.0.9
Flask-RQ2==18.3
googlemaps==4.4.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
natsort==7.0.1
pony==0.7.13
python-dateutil==2.8.1
redis==3.5.3
requests==2.25.0
rq==1.6.1
rq-dashboard==0.6.1
rq-scheduler==0.10.0
six==1.15.0
urllib3==1.26.2
Werkzeug==1.0.1
wincertstore==0.2
